@import 'common/style/base.scss';

#page {
    font-size: 32px;
}
.l-flex-certer-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
// 1PX
.l-border-bottom {
    border-bottom: 1PX solid $gray;
}
.head {
    // iphonex 适配
    @include adapterIphoneXTop();
    box-sizing: content-box;
    height: 100px;
    background-color: #000;
    color: #fff;
    @extend .l-flex-certer-middle;
    @extend .l-border-bottom;
}
.foot {
    // iphonex 适配
    @include adapterIphoneXBottom();
    box-sizing: content-box;
    height: 100px;
    background-color: $red;
    border-top: 1PX solid $gray;
    @extend .l-flex-certer-middle;
}
.body {
    padding-top: 20px;
    .l-box {
        display: flex;
        justify-content: space-around;
    }
    .btn {
        width: 217px;
        height: 76px;
        font-size: 32px;
        font-weight: bold;
        color: $red;
        .prefix {
            font-size: 22px;
        }
    }
    .l-btn {
        background-color: #fff;
        border: 1PX solid $gray;
        border-radius: 14px;
        &.active {
            border-color: $red;
        }
    }
    .l-line {
        padding-top: 20px;
        @extend .l-border-bottom;
    }

    .l-flex-center {
        display: flex;
        align-items: center;
    }
    .l-box-1 {
        height: 92px;
        font-size: 32px;
        line-height: 1;
        padding: 0 20px;
        @extend .l-flex-center;
        @extend .l-border-bottom;
        .icon-span {
            font-size: 24px;
            line-height: 1;
            .icons {
                color: $red;
                margin-left: 8px;
            }
        }
    }
    .l-box-2 {
        height: 60px;
        font-size: 24px;
        line-height: 1;
        padding: 0 20px;
        @extend .l-flex-center;
        @extend .l-border-bottom;
        .icon-span {
            font-size: 24px;
            line-height: 1;
            .icons {
                color: $red;
                margin-right: 8px;
            }
        }
    }
    .l-box-3 {
        height: 152px;
        font-size: 28px;
        padding: 0 20px;
        @extend .l-flex-center;
        @extend .l-border-bottom;
        .icons {
            color: $red;
            &-left {
                font-size: 54px;
                margin: auto 20px;
            }
            &-right {
                font-size: 24px;
            }
        }
        .content {
            .big {
                font-size: 28px;
                line-height: 40px;
            }
            .small {
                font-size: 24px;
                line-height: 34px;
            }
        }
        .right {   
            flex-grow: 1;
            text-align: right;
            padding-right: 20px;
        }
    }
    .l-box-4 {
        height: 152px;
        font-size: 28px;
        padding: 0 20px;
        @extend .l-flex-certer-middle;
        @extend .l-border-bottom;
        .icons {
            color: $red;
            font-size: 54px;
            margin-right: 20px;
        }
    }
    .l-box-5 {
        height: 80px;
        font-size: 32px;
        @extend .l-border-bottom;
        @extend .l-flex-center;
        .font{
            &100 {
                font-weight: 100;
            }
            &200 {
                font-weight: 200;
            }
            &300 {
                font-weight: 300;
            }
            &400 {
                font-weight: 400;
            }
            &500 {
                font-weight: 500;
            }
            &600 {
                font-weight: 600;
            }
            &700 {
                font-weight: 700;
            }
            &800 {
                font-weight: 800;
            }
            &900 {
                font-weight: 900;
            }
            &normal {
                font-weight: normal;
            }
            &bold {
                font-weight: bold;
            }
            &bilder {
                font-weight: bolder;
            }
        }
    }
}